<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap"
      rel="stylesheet"
    />
    <title>BikeShop - Shop</title>
  </head>

  <body>
    <!-- header -->
    <nav class="navbar navbar-light bg-dark p-2">
      <a class="navbar-brand text-white" href="/">
        <img
          src="images/bike-logo.svg"
          width="50"
          height="50"
          class="logo"
          alt=""
        />
        The Bike Shop Experience
      </a>
    </nav>
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb alert alert-secondary mt-3">
          <li class="breadcrumb-item">
            <a class="link-primary fs-5" href="/">Shop</a>
          </li>
          <li class="breadcrumb-item active fs-5" aria-current="page">Cart</li>
        </ol>
      </nav>
      <h1>Your cart</h1>
      <% if (dataCartBike.length > 0 ) { %>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Picture</th>
            <th scope="col">Model</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Total</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
        <%
        for (let i = 0; i < dataCartBike.length; i++) {
        %>
          <tr>
            <th scope="row"><%= i %></th>
            <td><img src="<%= dataCartBike[i].img %>" class="basket-img" /></td>
            <td><%= dataCartBike[i].name %></td>
            <td>
              <form action="/update-shop" method="post">
                <div class="input-group input-group-sm">
                  <input class="form-control w-25" type="number" name="quantity" value="<%= dataCartBike[i].quantity %>" min="1" max="<%= dataBike[dataBike.findIndex(el => el.name === dataCartBike[i].name)].stock + dataCartBike[i].quantity %>" step="1" />
                  <button type="submit" class="btn btn-dark"><i class="fas fa-sync"></i></button>
                </div>
                <input type="hidden" name="index" value="<%= i %>" />
                <input type="hidden" name="model" value="<%= dataCartBike[i].name %>" />
              </form>
            </td>
            <td><%= dataCartBike[i].price %>€</td>
            <% if (dataCartBike[i].quantity >= 2) { %>
            <td><s><%= dataCartBike[i].price * dataCartBike[i].quantity %>€</s> <%= dataCartBike[i].price * 0.8 + (dataCartBike[i].quantity - 1) * dataCartBike[i].price %>€ 
              <span class="badge rounded-pill bg-info text-dark">20% off your first bike</span></td>
            <% } else { %>
            <td><%= dataCartBike[i].price * dataCartBike[i].quantity %>€</td>
            <% } %>
            <td><a href="/delete-shop?model=<%= dataCartBike[i].name%>" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a></td>
          </tr>
        <% } %>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="fs-6 fw-bold">Apply coupon</td>
            <td>
              <form action="/apply-coupon" method="post">
                <div class="input-group input-group-sm w-50 mb-3">
                  <input type="text" class="form-control" name="couponCode"/>
                  <button class="btn btn-dark" type="submit" id="button-addon1">Apply</button>
                </div>
              </form>
              <% if (couponCode) { %>
              <form action="/delete-coupon" method="post" id="deleteCouponForm">
                <span class="badge bg-primary"><%= couponCode.code %> - <%= couponCode.value %>% <a href="#" class="text-white" id="deleteCoupon"><i class="fas fa-times"></i></a></span>
              </form>
              <% } %>
            </td>
            <td>
              
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="fs-6 fw-bold">Shipping rates</td>
            <td>
              <form id="update-shipping" action="/update-shipping" method="post">
                <select class="shippingMode form-select form-select-sm w-50" name="shippingMode">
                <% 
                let selected = "";
                for (let mode of shippingModes) { 
                  selected = shippingSelected.name === mode.name ? "selected" : "";  
                %>
                 <option <%= selected %> value="<%= mode.name %>"><%= mode.name %> - <%= mode.value %>€</option>
                <% } %>
                </select>
              </form>
            </td>
            <td class="fs-5"></td>
          </tr>
        <tfoot>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="fs-5 fw-bold">Total</td>
          <% if (hasDiscount) { %>
          <td class="fs-5"><span><s><%= Math.round((totalCart + totalDiscount + shippingRates)*100)/100 %>€</s></span> <%= totalCart + shippingRates %>€ <span class="badge rounded-pill bg-info text-dark"><%= Math.round(totalDiscount * 100) / 100 %>€ discount</span></td>
          <% } else { %>
          <td class="fs-5"><%= totalCart + shippingRates %>€</td>
          <% } %>
          <td>
            <form action="/create-checkout-session" method="POST">
              <button type="submit" class="btn btn-success" id="checkout-button">Checkout</button>
              <input type="hidden" name="totalCart" value="<%= totalCart %>"/>
            </form>
          </td>
        </tfoot>
        </tbody>
      </table>
      <% } else { %>
        <h4 class="text-muted">Your cart is empty</h4>
        <% } %>
    </div>
    <!-- scripts -->
    <script src="javascript/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/e7fc5f269c.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
